<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>

<style>

    .userBlock {
        width: fit-content;
        border: black solid 5px;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        padding: 20px;
    }

</style>

<div class="userBlock">
    <div>First name: {{ user.firstName}}</div>
    <div>Last name: {{user.lastName}}</div>
    <div>Age: {{user.age}}</div>
    <div>City: {{user.city}}</div>
    <div>Email: {{user.email}}</div>
    <div>Password: {{user.password}}</div>
    <form class="form" action="/users">
        <input type="submit" value="back">
    </form>
</div>
</body>
</html>